<section class="section-one">
  <h1><span>Collect Feedback,</span> <span>Unlock Ideas</span></h1>
  <div class="collect-feedback">
    <p>
      Create and share surveys in minutes – from team events to workplace culture. Collect opinions,
      engage your audience, and turn feedback into action.
    </p>
    <button class="n-survey" (click)="openDialog()">
      New survey
      <span class="plus-icon"><img src="icons/add_circle.svg" alt="" /></span>
    </button>
  </div>
  <div class="smart-img">
    <img src="images/smartphone.png" alt="phone" class="phone" />
    <img src="images/smartphone_hover.png" alt="" class="phone-hover" />
  </div>
</section>

<app-new-survey (surveyCreated)="surveyCreated.emit()" />
